[Unit]
Description=Refresh /run/issue every 5 minutes

[Timer]
OnBootSec=30s
OnUnitActiveSec=5min
Unit=obos-genissue.service

[Install]
WantedBy=timers.target
